@model IEnumerable<TieuLuan.Models.Khoa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bảng Khoa</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã Khoa
        </th>
        <th>
            Tên Khoa
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Điện thoại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.MaKhoa }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.MaKhoa }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.MaKhoa })
        </td>
    </tr>
}

</table>
